/* admin 1 */

.antrian{
    padding-left: 50px;
}

.tabel{
    padding-top: 16px;
    padding-left: 200px;
}

.tambah{
    padding-top: 30px;
    padding-left: 50px;
}

/* admin 2 */
 .tabel{
     padding-left: 100px;
 }

 /* login */

 .login{
    background-color:blue;
    position: relative;
    border-radius: 5px;
    margin: 300px;
    padding: 100px;
}
.masuk{
    margin-left: 120px;
}
.user{
    margin-top: 10px;
    margin-bottom: 10px;
}
.password{
    margin-top: 10px;
}
.button{
    margin-top: 5px;
}
